.git
.agents
.codex
.env
.env.*
!.env.example

vendor
node_modules
public/build
public/hot
storage/*.key
storage/pail
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*

.phpunit.result.cache
docker-compose.override.yml
auth.json
npm-debug.log
yarn-error.log

database/database.sqlite
