/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
auth.json

/database/database.sqlite

**/caddy
frankenphp
frankenphp-worker.php
